body{
  background-color: #FFFFFF;
  color: #3f51b5;
}

div{
  align-items: center;

}


#blankspace{
  width: 40px;
}

#chartbox{
display: flex;
  justify-content: center;
}

#chart{
  width: 100px;
}
.root{

  }

.dropdown{
  padding: 500px;
  margin-right: 100px;
  padding-right: 200px;

}
.table{
  display: flex;
  align-content: center;
  justify-content: center;
  color: black;
}
