.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.back{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.avatar-img {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.avatar-a {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.landing-foot {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

.media {



}

.lp-image{
  max-width:100%;
  max-height:100%;
}

.card_color {
   /* background: #a8c0ff;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */ */
   /* background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */ */

   height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: none;
   padding-bottom: 80px;
   margin: 0 auto;
   background-attachment: fixed;


}

.lp-image {
     border-radius: 8px;
}

.landing-grid {
  display: flex;
  flex-direction: row;
  min-height: 95.8vh;
}

.text-field{
  width: 200px;
}

.action-button{
  margin-top: 5%;
}

.sign-up-page{
}

.form-card{
  line-height: 300%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  max-width: 400px;
  min-width: 200px;
  text-align: center
}
/*
.text-field + .text-field{
  margin-left: 10px;
} */
